<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex align-items-center">
      <!-- Logotipo y marca -->
      <div class="d-flex align-items-center">
          <img class="me-2" src="cascai-illustration.svg" height="45" width="45" alt="Logotipo de CASCAI"/>
          <a class="navbar-brand text-white navbar-brand-custom" href="#">CASCAI</a>
      </div>
      <!-- Botón para menú colapsable en móviles -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Elementos del menú -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-3 mb-2 mb-lg-0 d-flex align-items-center">
              <li class="nav-item">
                  <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Servicios</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Sobre nosotros</a>
            </li>
          </ul>
      </div>
  </div>
</nav>
