body {
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --color-blue-primary: #171e60;
    --color-blue-secondary: #1f2d7d;
    --color-blue-tertiary: #2c3e9e;
    --color-white: #ffffff;
}